h4.formatic-heading {
  line-height: 15px;
}

h1.formatic-heading {
  line-height: 30px;
}

h1.formatic-heading,
h2.formatic-heading,
h3.formatic-heading,
h4.formatic-heading,
h5.formatic-heading {
  color: $primary-color;
}
