.formatic-profile-lookup__container {
  .formatic-text__input {
    @include formatic-text();
  }

  .formatic-search__button {
    @include formatic-button();
    min-width: 150px;
    margin-right: 0;
  }

  .formatic-search-input {
    display: flex;
    position: relative;
  }

  .formatic-text__input-container {
    flex-grow: 1;
    margin-right: 12px;
  }

  .formatic-error-message {
    position: absolute;
    bottom: -25px;
  }

  .formatic-search-result-item {
    display: flex;
    padding: 12px;
    border: 1px solid #d3dce6;

    .formatic-search-result-item-detail {
      padding: 0 10px;

      h4 {
        line-height: 20px;
        font-weight: bold;
      }
    }
  }
}
